from flask import Flask, request, render_template_string, session

app = Flask(__name__)
app.secret_key = 'your_secret_key'

# 简单的状态机，用于跟踪对话状态
states = {
    'start': {
        'question': "你好！我是Zero。你想聊些什么？",
        'next_state': 'topic'
    },
    'topic': {
        'question': "你选择了'{}'这个话题。你想知道什么？",
        'next_state': 'details'
    },
    'details': {
        'question': "关于'{}'，你想知道更多细节吗？",
        'next_state': 'end'
    },
    'end': {
        'question': "希望我们的对话对你有所帮助！再见！",
        'next_state': 'start'
    }
}

# 聊天机器人的逻辑
def chatbot_response(message, state):
    if state == 'start':
        return states['start']['question'], 'topic'
    elif state == 'topic':
        topic = message.lower()
        return states['topic']['question'].format(topic), 'details', topic
    elif state == 'details':
        return states['details']['question'].format(topic), 'end'
    elif state == 'end':
        return states['end']['question'], 'start'

# HTML模板
HTML_TEMPLATE = '''
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>聊天机器人</title>
</head>
<body>
    <h2>聊天机器人</h2>
    {% if question %}
        <p>机器人：{{ question }}</p>
    {% endif %}
    <form action="/" method="post">
        <input type="text" name="message" placeholder="输入你的消息...">
        <input type="submit" value="发送">
    </form>
    {% if response %}
        <p>用户：{{ response }}</p>
    {% endif %}
</body>
</html>
'''

@app.route('/', methods=['GET', 'POST'])
def index():
    response = ''
    question = ''
    next_state = 'start'
    topic = ''
    if 'state' in session:
        state = session['state']
    else:
        state = 'start'
    
    if request.method == 'POST':
        message = request.form['message']
        if state == 'topic':
            session['topic'] = message
        response, next_state, topic = chatbot_response(message, state)
        session['state'] = next_state
        if topic:
            session['topic'] = topic
    else:
        question = states[state]['question']

    return render_template_string(HTML_TEMPLATE, question=question, response=response)

if __name__ == '__main__':
    app.run(debug=True)
